<mat-card  style="background-color: blueviolet;">
  <mat-card-header>
    <mat-card-title  style="color: whitesmoke;">MI RUTINA</mat-card-title>
  </mat-card-header>
</mat-card>
<table mat-table [dataSource]="ejerciciosUsuario" class="mat-elevation-z8">
  <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Ejercicio </th>
      <td mat-cell *matCellDef="let ejercicio"> {{ejercicio.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let ejercicio"> {{ejercicio.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef="series">
    <th mat-header-cell *matHeaderCellDef> Series </th>
    <td mat-cell *matCellDef="let ejercicio"> {{ejercicio.series}} </td>
  </ng-container>

  <ng-container matColumnDef="repeticiones">
    <th mat-header-cell *matHeaderCellDef> Repeticiones </th>
    <td mat-cell *matCellDef="let ejercicio"> {{ejercicio.repeticiones}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Quitar </th>
      <td mat-cell *matCellDef="let ejercicio"><button mat-raised-button class="btn btn-quitar" (click)="deleteEjercicio(ejercicio)"> Quitar </button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
